permalink: about/
---
<div class="content">
    <div class="page-header">
        <h1>About us</h1>
    </div>
    <div class="row">
        <div class="span14">
            <p>You can see what we're doing by following the links
            from the group's <a href="https://github.com/yet-another-project">github
            profile</a> and by <a href="/contact">getting in touch</a> with us.</p>
        </div>
    </div>
</div>
