layout: default.twig
---
<div class="content">
    <div class="row">
        <div class="span14">
            <h1>Contact<h1>
            <p>You can always contact us either via e-mail at
            <a href="mailto:yet-another-project@librelist.com">yet-another-project@librelist.com</a>
            or on IRC: <b>#yet-another-project</b> @ freenode.net.</p>
            <p>To subscribe to the mailing list, simply send a message to that address. You
            will need to confirm the subscription.</p>
        </div>
    </div>
</div>
