layout: default.twig
---
<div class="content">
    <div class="page-header">
        <h1>Education</h1>
    </div>
    <div class="row">
        <div class="span14">
            <p>Through our educational programmes we are supporting those
            individual who want to get involved but are not yet
            at that state of knowledge to make it.</p>
            <p>By taking part to one of the courses, you grow
            within the community to the status of a fully respected
            member.</p>
            <p>Currently, we offer these courses:
                <ul>
                    <li><a href="https://github.com/yet-another-project/phpro-book/wiki">phpro-book</a><br>
                    A PHP course in Romanian.
                    </li>
                </ul>
            </p>
        </div>
    </div>
</div>
