layout: default.twig
---
<div class="content">
    <div class="page-header">
        <h1>YAP <small>Yet Another Project</small></h1> 
    </div>
    <div class="row">
        <div class="span10">
            <h2>Main content</h2>

            <div class="clearfix" style="height:50px;"></div>
            {% include 'demos/modal.twig'%}

            <div class="clearfix" style="height:50px;"></div>
            {% include 'demos/twipsy.twig' %}

            <div class="clearfix" style="height:50px;"></div>
            {% include 'demos/popup.twig' %}

            <div class="clearfix" style="height:50px;"></div>
            {% include 'demos/tabs.twig' %}
        </div>
        <div class="span4">
            <h3>At a Glance</h3>
            <p>YAP is a knowledge-centric exchange group
            working together on open-source projects.<p>
            <p>YAP is about sharing experience, knowledge,
            and spare time for working on agreed projects.</p>
        </div>
    </div>
</div>
