layout: default.twig
---
<div class="content">
    <div class="page-header">
        <h1>YAP <small>Yet Another Project</small></h1> 
    </div>
    <div class="row">
        <div class="span10">
            <h2>How to take part<h2>
            <p>TODO</p>
            </div>
        <div class="span4">
            <h3>At a Glance</h3>
            <p>YAP is a knowledge-centric exchange group
            working together on open-source projects.<p>
            <p>YAP is about sharing experience, knowledge,
            and spare time for maintaining agreed projects.</p>
            <p>YAP is about growth, both personal and
            professional. YAP offers support for young
            programmers in form of educational programmes.</p>
        </div>
    </div>
</div>
