layout: default.twig
---
<div class="content">
    <div class="page-header">
        <h1>YAP <small>Yet Another Project</small></h1> 
    </div>
    <div class="row">
        <div class="span10">
            <h2>What is this about?</h2>
            <p>Yet Another Project is a group of individuals focused on
            <ul>
                <li>creating open-source software</li>
                <li>training young people through free courses, so they
                become computer programmers one day</li>
                <li>exchanging experience and knowledge for the greater good</li>
            </ul>
            </p>
            <p>
            If you want to take part, you may just join us on IRC, and we'll talk.
            The easiest way is to contribute to one of the projects under the
            umbrella of YAP.
            </p>
            <p>
            Another way is to propose a new project (either existent - your own),
            or a new idea. Once we agree we can do it, we'll get to work. If you
            would like your project to be maintained by us, you have to become
            a member and be active, and we have to work together to learn
            about each other's projects, so we can maintain them together.
            </p>
            <p>
            This means that we also need some time to get accustomed with your
            project's codebase, while you learn more about ours.
            </p>
            <p>
            Through the educational programmes we offer, we may learn more
            together, so we become better, faster, smarter :-)
            </p>
        </div>
        <div class="span4">
            <h3>At a Glance</h3>
            <p>YAP is a knowledge-centric exchange group
            working together on open-source projects.<p>
            <p>YAP is about sharing experience, knowledge,
            and spare time for maintaining agreed projects.</p>
            <p>YAP is about growth, both personal and
            professional. YAP offers support for young
            programmers in form of educational programmes.</p>
        </div>
    </div>
</div>
