layout: default.twig
---
<div class="content">
    <div class="page-header">
        <h1>Projects</h1>
    </div>
    <div class="row">
        <div class="span14">
            <h2>Active Projects</h2>
            <ul>
                <li><a href="https://github.com/yet-another-project/phpro-book/wiki">phpro-book</a></li>
            </ul>
            <h2>Queued Projects</h2>
            <p>Some projects are not just yet ready to be taken
            over by YAP. We are working hard with their owners
            towards this goal.</p>
            <ul>
                <li><a href="https://github.com/flavius/phpmeta">phpmeta</a></li>
            </ul>
        </div>
    </div>
</div>
