layout: default.twig
---
<div class="content">
    <div class="page-header">
        <h1>Projects</h1>
    </div>
    <div class="row">
        <div class="span9">
            TODO: links
            <h2>Active Projects</h2>
            <ul>
                <li>phpro-book</li>
            </ul>
            <h2>Queued Projects</h2>
            <p>Some projects are not just yet ready to be taken
            over by YAP. We are working hard with their owners
            towards this goal.</p>
            <ul>
                <li>phpmeta</li>
            </ul>
        </div>
        <div class="span5">
            <h3>At a Glance</h3>
            <p>YAP is a knowledge-centric exchange group
            working together on open-source projects.<p>
            <p>YAP is about sharing experience, knowledge,
            and spare time for maintaining agreed projects.</p>
            <p>YAP is about growth, both personal and
            professional. YAP offers support for young
            programmers in form of educational programmes.</p>
        </div>
    </div>
</div>
