<div class="topbar">
    <div class="fill">
        <div class="container">
            <a class="brand" href="/">YAP</a>
            <ul class="nav">
                <li><a href="/about/">About</a></li>
                <li><a href="/projects">Projects</a></li>
            </ul>
            <ul class="nav secondary-nav">
                <li><a href="/contact/">Contact</a></li>
                <li class="menu"><a href="https://github.com/yet-another-project">GitHub Home</a></li>
            </ul>
        </div>
    </div>
</div>
