<div class="topbar">
    <div class="fill">
        <div class="container">
            <a class="brand" href="/">YAP</a>
            <ul class="nav">
                <li><a href="about">About</a></li>
                <li><a href="projects">Projects</a></li>
            </ul>
            <form action="http://www.google.com/search?ie=UTF-8&" method="GET">
                <input type="text" placeholder="Search" name="q" value="phrozn">
                <button class="btn" type="submit">Go!</button>
            </form>
            <ul class="nav secondary-nav">
                <li class="menu"><a href="https://github.com/yet-another-project">GitHub Home</a></li>
            </ul>
        </div>
    </div>
</div>
